<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>EMG Rabat</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/assets/index/css/bootstrap.css" />
  <!-- fonts awesome style -->
  <link href="/assets/index/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/assets/index/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/assets/index/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <!--<header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <div class="custom_menu-btn">
          <button onclick="openNav()">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>
        </div>
        <div id="myNav" class="overlay">
          <div class="menu_btn-style ">
            <button onclick="closeNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
          </div>
          <div class="overlay-content">
            <a class="active" href="index.html">
              Home
            </a>
            <a class="" href="about.html">
              About
            </a>
            <a class="" href="service.html">
              Services
            </a>
            <a class="" href="testimonial.html">
              Testimonial
            </a>
            <a class="" href="news.html">
              Latest News
            </a>
            <a class="" href="contact.html">
              Contact Us
            </a>
          </div>
        </div>
        <a class="navbar-brand" href="index.html">
          <span>
            Seomark
          </span>
        </a>
        <div class="user_option">
          <form class="form-inline">
            <button class="btn  nav_search-btn" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>-->
          <!--<a href="">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>-->
        <!--</div>
        <div class="name_style">
          <h6>
            S
            e
            o
            M
            a
            r
            k
            e
            t
            i
            n
            g
          </h6>
        </div>
      </nav>
    </header>-->
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section position-relative">
      <div class="box">
        <div class="detail-box">
          <a class="navbar-brand" href="index.html">
            <span>
              EMG Rabat
            </span>
          </a>
          <div class="carousel slide slider_text_carousel" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="heading_box">
                  <h1>
                    <span>
                      We
                    </span>
                    <span>
                      Can
                    </span>
                    <span>
                      Grow
                    </span>
                    <span>
                      Your
                    </span>
                    <span>
                      Business
                    </span>
                  </h1>
                </div>
              </div>
              <div class="carousel-item">
                <div class="heading_box">
                  <h1>
                    <span>
                      We
                    </span>
                    <span>
                      Can
                    </span>
                    <span>
                      Grow
                    </span>
                    <span>
                      Your
                    </span>
                    <span>
                      Business
                    </span>
                  </h1>
                </div>
              </div>
              <div class="carousel-item">
                <div class="heading_box">
                  <h1>
                    <span>
                      We
                    </span>
                    <span>
                      Can
                    </span>
                    <span>
                      Grow
                    </span>
                    <span>
                      Your
                    </span>
                    <span>
                      Business
                    </span>
                  </h1>
                </div>
              </div>
            </div>
          </div>

          <div class="btn-box">
            <a href="/pages/comptable/loginC.html" class="btn-1">
              Espace Comptable
            </a>
            <a href="/pages/Etudiant/loginE.html" class="btn-2">
               Espace Etudiant
            </a>
          </div>
        </div>
        <div class="img-box">
          <div class="carousel slide slider_image_carousel carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/assets/index/images/slider-img.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img src="/assets/index/images/slider-img2.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img src="/assets/index/images/slider-img3.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- feature section -->

  <!--<section class="feature_section ">
    <div class="carousel_btn-box">
      <a class="slider_btn_prev" href="" role="button" data-slide="prev">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        <span class="sr-only">Précedent</span>
      </a>
      <a class="slider_btn_next" href="" role="button" data-slide="next">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <span class="sr-only">Suivant</span>
      </a>
    </div>
    <div class="container-fluid service_container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="box">
            <div class="number_box">
              <h5>
                01
              </h5>
            </div>
            <h4>
              Research Project
            </h4>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="box">
            <div class="number_box">
              <h5>
                02
              </h5>
            </div>
            <h4>
              Find Ideas
            </h4>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="box">
            <div class="number_box">
              <h5>
                03
              </h5>
            </div>
            <h4>
              Start Optimize
            </h4>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="box">
            <div class="number_box">
              <h5>
                04
              </h5>
            </div>
            <h4>
              Reach Target
            </h4>
          </div>
        </div>
      </div>
    </div>
  </section>-->

  <!-- end feature section -->

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                À propos de l'application
              </h2>
            </div>
            <p>
              fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <div class="stripe_design sd1"></div>
            <div class="stripe_design sd2"></div>
            <div class="stripe_design sd3"></div>
            <div class="stripe_design sd4"></div>
            <div class="stripe_design sd5"></div>
            <div class="stripe_design sd6"></div>
            <img src="/assets/index/images/about-img.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- help section -->

  <section class="help_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Choix de Paiement <br>
                Flexibles
              </h2>
            </div>
            <p>
              Notre plateforme de gestion des paiements pour l'École Marocaine de l'Ingénieurie offre une gamme variée d'options de paiement, adaptées aux besoins et préférences de chaque étudiant.
              Que ce soit par carte bancaire, en espèces, par chèque ou par virement,
              notre système permet une flexibilité totale pour garantir un règlement sans contraintes.
              En offrant ces choix flexibles, nous visons à simplifier le processus de paiement et à offrir une expérience pratique et adaptée à chacun,
              contribuant ainsi à une gestion financière efficace et transparente au sein de l'école EMG.        </p>
            </p>

          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="/assets/index/images/help-img.jpg" alt="" />
            <div class="play_btn">
              <button>
                <i class="fa fa-play" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end help section -->


  <!-- we do section -->

  <section class="wedo_section layout_padding">
    <div class="container">
     <!-- <div class="heading_container">
        <h2>
          Choix de Paiement Flexibles
        </h2>
        <p>
          Notre plateforme de gestion des paiements pour l'École Marocaine de l'Ingénieurie offre une gamme variée d'options de paiement, adaptées aux besoins et préférences de chaque étudiant.
          Que ce soit par carte bancaire, en espèces, par chèque ou par virement,
          notre système permet une flexibilité totale pour garantir un règlement sans contraintes.
          En offrant ces choix flexibles, nous visons à simplifier le processus de paiement et à offrir une expérience pratique et adaptée à chacun,
          contribuant ainsi à une gestion financière efficace et transparente au sein de l'école EMG.        </p>
      </div>-->
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="box pr-0 pr-lg-5">
            <div class="img-box">
              <img src="/assets/index/images/wedo-img2.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Carte bancaire              </h5>
              <p>
                Le paiement par carte bancaire sur notre plateforme offre aux étudiants une méthode rapide, sécurisée et transparente pour régler leurs frais scolaires, avec une confirmation instantanée et une mise à jour immédiate du statut de paiement.
                
              </p>

            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box pr-0 pr-lg-5">
            <div class="img-box">
              <img src="/assets/index/images/wedo-img3.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Chèque
              </h5>
              <p>
                Le paiement par chèque sur notre plateforme permet aux étudiants de régler leurs frais scolaires de manière traditionnelle, en offrant une méthode fiable et pratique pour les paiements par voie postale, avec une validation rapide et une mise à jour du statut de paiement dès réception du chèque.              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box pr-0 pr-lg-5">
            <div class="img-box">
              <img src="/assets/index/images/wedo-img4.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Virement
              </h5>
              <p>
                Le paiement par virement sur notre plateforme offre aux étudiants une option de règlement électronique rapide et sécurisée, permettant des transferts directs depuis leur compte bancaire vers celui de l'école, avec une mise à jour instantanée du statut de paiement dès réception du virement.              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box pr-0 pr-lg-5">
            <div class="img-box">
              <img src="/assets/index/images/wedo-img1.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                  Espèces
                </h5>
              <p>
                Le paiement en espèces sur notre plateforme offre aux étudiants une méthode directe et immédiate pour régler leurs frais scolaires en personne, assurant une confirmation instantanée et une mise à jour rapide du statut de paiement dans notre système de gestion des paiements.              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end we do section -->

  <!-- news section -->

  <section class="news_section layout_padding-bottom">
    <div class="container">
      <!--<div class="heading_container">
        <h2>
          Latest News
        </h2>
        <p>
          Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now
        </p>
      </div>-->
      <div class="row">
        <!--<div class="col-lg-6 ">
          <div class="detail_container">
            <div class="detail-box">
              <h4>
                Publishing packages Web page
              </h4>
              <div class="news_social">
                <a href="">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                  <span>
                    Like
                  </span>
                </a>
                <a href="">
                  <i class="fa fa-comment" aria-hidden="true"></i>
                  <span>
                    Comment
                  </span>
                </a>
                <a href="">
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                  <span>
                    Share
                  </span>
                </a>
              </div>
              <p>
                College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtableCollege in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
              </p>
            </div>
            <div class="btn-box">
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>-->
        <div class="col-lg-6 ">
         <!-- <div class="img-box">
            <img src="images/news-img.jpg" alt="">
          </div>-->
        </div>
      </div>
    </div>
  </section>



  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h4>
              Addresse
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Localisation
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  +212 666819461
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  0537774135
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  info@emg.ac.ma
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="https://web.facebook.com/www.emg.ac.ma?_rdc=1&_rdr">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/emg_ac_ma">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/watch?v=d550JEkpnZg&feature=youtu.be">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/ecole-marocaine-d-ing%C3%A9nierie-8782ab18a/">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/emgrabat/">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_link_box">
            <h4>
              Links
            </h4>
            <div class="info_links">
              <a class="active" href="index.html">
                <img src="/assets/index/images/nav-bullet.png" alt="">
                Acceuil
              </a>
              <a class="" href="about.html">
                <img src="/assets/index/images/nav-bullet.png" alt="">
                Espace Comptable
              </a>
              <a class="" href="about.html">
                <img src="/assets/index/images/nav-bullet.png" alt="">
                Espace Etudiant
              </a>
              <!--<a class="" href="service.html">
                <img src="images/nav-bullet.png" alt="">
                Services
              </a>
              <a class="" href="testimonial.html">
                <img src="images/nav-bullet.png" alt="">
                Testimonial
              </a>
              <a class="" href="news.html">
                <img src="images/nav-bullet.png" alt="">
                Latest News
              </a>-->
             <!-- <a class="" href="contact.html">
                <img src="images/nav-bullet.png" alt="">
                Contactez Nous
              </a>-->
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_detail">
            <h4>
              Info
            </h4>
            <p>
              Pour plus d'informations consultez notre FAQ ou contactez-nous            </p>
          </div>
        </div>
        <div class="col-md-3">
          <!--<h4>
            S'abonner
          </h4>-->
          <!--<form action="#">
            <input type="text" placeholder="Entrer votre email" />
            <button type="submit">
              S'abonner
            </button>
          </form>-->
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <p>
            &copy; <span id="displayYear"></span> Tous droits réservés. Par
            <a href="https://html.design/"> OMB </a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <script src="/assets/index/js/jquery-3.4.1.min.js"></script>
  <script src="/assets/index/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="/assets/index/js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->
</body>

</html>