.conteneurFiltre{
    margin-left: 100px;
    margin-top: 30px;
    margin-right: 100px;
}

.btn-primary {
    background-color: #1858A0;
    border-color: #1858A0;

}

.iconb {
    margin-left: 7px;
  }
  