<nav class="navbar navbar-expand-lg navbar-light bg-light a-head">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="/assets/images/logo_nav.webp" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item notification">
          <a class="nav-link " href="#"><i class="far fa-bell fa-lg"></i></a>
        </li>
        <!--<li class="nav-item dropdown az-header-notification show">
            <a class="nav-link" href="#" id="NotifDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              <i class="far fa-bell  mr-2"></i>
            </a>
            <div class="dropdown-menu " aria-labelledby="NotifDropdown">
                <div class="az-dropdown-header mg-b-20 d-sm-none">
                    <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                  </div>
                <h6 class="az-notification-title">Notifications</h6>
                <p class="az-notification-text">You have 2 unread notification</p>
                <div class="az-notification-list">
                  <div class="media new">
                    <div class="az-img-user"><img src="/assets/images/face6.jpg" alt=""></div>
                    <div class="media-body">
                      <p>Congratulate <strong>Socrates Itumay</strong> for work anniversaries</p>
                      <span>Mar 15 12:32pm</span>
                    </div>
                  </div>
                  <div class="media new">
                    <div class="az-img-user online"><img src="/assets/images/face6.jpg" alt=""></div>
                    <div class="media-body">
                      <p><strong>Joyce Chua</strong> just created a new blog post</p>
                      <span>Mar 13 04:16am</span>
                    </div>
                  </div></div>
            </div>
        </li>-->
        <li class="nav-item dropdown az-img-user show">
          <a class="nav-link az-img-user " href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/assets/images/face6.jpg" class="rounded-circle" alt="User Image">
          </a>
          <div class="dropdown-menu az-profile-menu " aria-labelledby="userDropdown">
            <div class="az-dropdown-header d-sm-none">
              <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
            </div>
            <div class="az-header-profile">
              <div class="az-img-user">
                <img src="/assets/images/face6.jpg" alt="">
              </div><!-- az-img-user -->
              <h6>Aziana Pechon</h6>
              <span>Premium Member</span>
            </div><!-- az-header-profile -->

            <a href="" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
            <a href="" class="dropdown-item"><i class="typcn typcn-edit"></i> Edit Profile</a>
            <a href="" class="dropdown-item"><i class="typcn typcn-time"></i> Activity Logs</a>
            <a href="" class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a>
            <a href="page-signin.html" class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign Out</a>
          </div>
      </li>
      </ul>
    </div>
  </div>
</nav>
